<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>ToDo Signup</title>
</head>
<body>
    <div class="container">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
            <% }) %>    
        <% } %>
        <form action="/signup" method="POST">
            <input required type="text" name="userName" placeholder="Enter UserName">
            <input required type="email" name="email" placeholder="Enter Email">
            <input required type="password" name="password" placeholder="Enter Password">
            <input required type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit">
        </form>
    </div>
</body>
</html>